<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
     <h3><i class="fas fa-shopping-cart mr-4"></i>Carrito</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto align-items-center">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link  active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/productos">Productos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/categorias">Categorias</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/usuarios/newpws">Cambiar Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Salir</a>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link  active" href="#">
          <span class="fa-stack fa-2x has-badge" data-count="0" id="cart-navbar">
            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white ml-4" href="/signin"><h5><i class="fas fa-sign-in-alt mr-4"></i>Ingresar</h5></a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>